# build time (vite)
VITE_FEATURE_FLAG_AUTH_ENABLED=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# scripts env
SCRIPTS_GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
SCRIPTS_CADERN_IN_UID=
SCRIPTS_STORAGE_BUCKET=
