# build time (vite)
FEATURE_FLAG_AUTH_ENABLED=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
CADERNIN_UID=

# firebase env
# get it through `firebase login:ci`
FIREBASE_TOKEN=

# scripts env
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
CADERNIN_UID=
