# Application: bundled into code
VITE_FEATURE_FLAG_AUTH_ENABLED=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_CADERNIN_UID=

# CI pipeline: get it through `firebase login:ci`
CI_FIREBASE_TOKEN=

# Admin scripts
SCRIPTS_CADERNIN_UID=
SCRIPTS_FIREBASE_STORAGE_BUCKET=
SCRIPTS_GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
