rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function canWriteSong(songId) {
      let song = firestore.get(/databases/(default)/documents/songs/$(songId)).data;
      let project = firestore.get(/databases/(default)/documents/projects/$(song.projectId)).data;
      return request.auth.uid == song.uploadedBy
        || request.auth.uid == project.ownerId
        || request.auth.uid in project.collaboratorIds;
    }


    match /songs/{songId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        !firestore.exists(/databases/(default)/documents/songs/$(songId)) ||
        canWriteSong(songId)
      );
    }
    match /avatars/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
